@model IEnumerable<BankWebApp.Models.ApplicantModel>

@{
    ViewData["Title"] = "Application History";
}

<h2>Application History</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationLogID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EligibleCreditCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateApplied)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationLogID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EligibleCreditCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApplied)
            </td>
        </tr>
}
    </tbody>
</table>
